# Data Preparation

The goal of this step is to use the initial dataset and generate monthly and yearly totals which would help with data visualisation.

In [1]:
# Imports
import pandas as pd

In [5]:
# Open the CSV file
data = pd.read_csv('data/WasteData.csv')

In [6]:
data.head()

,Item,Item Form,Category,Shelf Life,Glass,Paper,Plastic,Aluminium,Bio,Weekly Usage
0,Milk,Liquid,Food,Short,0,0,33,0,0,4.00
1,Oil Cooking,Liquid,Food,Medium,313,0,0,3,0,1.20
2,Tea Bgs,Solid,Food,Long,0,10,1,0,350,0.25
3,Bread,Solid,Food,Short,0,0,9,0,0,3.00
4,Eggs,Solid,Food,Short,0,29,0,0,42,2.50

In [7]:
# add total weekly waste
data['weekly total'] = data['Glass'] + data['Paper'] + data['Plastic'] + data['Aluminium'] + data['Bio']
data.head()

,Item,Item Form,Category,Shelf Life,Glass,Paper,Plastic,Aluminium,Bio,Weekly Usage,weekly total
0,Milk,Liquid,Food,Short,0,0,33,0,0,4.00,33
1,Oil Cooking,Liquid,Food,Medium,313,0,0,3,0,1.20,316
2,Tea Bgs,Solid,Food,Long,0,10,1,0,350,0.25,361
3,Bread,Solid,Food,Short,0,0,9,0,0,3.00,9
4,Eggs,Solid,Food,Short,0,29,0,0,42,2.50,71

In [11]:
# simplify the column names
data.columns = [i.lower().strip() for i in data.columns]
data.head()

,item,item form,category,shelf life,glass,paper,plastic,aluminium,bio,weekly usage,weekly total
0,Milk,Liquid,Food,Short,0,0,33,0,0,4.00,33
1,Oil Cooking,Liquid,Food,Medium,313,0,0,3,0,1.20,316
2,Tea Bgs,Solid,Food,Long,0,10,1,0,350,0.25,361
3,Bread,Solid,Food,Short,0,0,9,0,0,3.00,9
4,Eggs,Solid,Food,Short,0,29,0,0,42,2.50,71

In [13]:
# add monthly and yearly totals for a given column
def add_monthly_and_yearly(d, col_name):
    new_col_name = f'total {col_name}'
    if col_name == 'weekly total':
        new_col_name = 'total'
    d[f'monthly {new_col_name}'] = d[col_name] * d['weekly usage'] * 4
    d[f'yearly {new_col_name}'] = d[col_name] * d['weekly usage'] * 52
    return d

data = add_monthly_and_yearly(data, 'glass')
data = add_monthly_and_yearly(data, 'paper')
data = add_monthly_and_yearly(data, 'plastic')
data = add_monthly_and_yearly(data, 'aluminium')
data = add_monthly_and_yearly(data, 'bio')
data = add_monthly_and_yearly(data, 'weekly total')
data.head()

,item,item form,category,shelf life,glass,paper,plastic,aluminium,bio,weekly usage,...,monthly total paper,yearly total paper,monthly total plastic,yearly total plastic,monthly total aluminium,yearly total aluminium,monthly total bio,yearly total bio,monthly total,yearly total
0,Milk,Liquid,Food,Short,0,0,33,0,0,4.00,...,0.0,0.0,528.0,6864.0,0.0,0.0,0.0,0.0,528.0,6864.0
1,Oil Cooking,Liquid,Food,Medium,313,0,0,3,0,1.20,...,0.0,0.0,0.0,0.0,14.4,187.2,0.0,0.0,1516.8,19718.4
2,Tea Bgs,Solid,Food,Long,0,10,1,0,350,0.25,...,10.0,130.0,1.0,13.0,0.0,0.0,350.0,4550.0,361.0,4693.0
3,Bread,Solid,Food,Short,0,0,9,0,0,3.00,...,0.0,0.0,108.0,1404.0,0.0,0.0,0.0,0.0,108.0,1404.0
4,Eggs,Solid,Food,Short,0,29,0,0,42,2.50,...,290.0,3770.0,0.0,0.0,0.0,0.0,420.0,5460.0,710.0,9230.0

In [15]:
data.to_csv('data/prepared_waste_data.csv')